* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

:root {
    --white: white;
    --twilight-purple: #403744;
    --dusk-purple: #958694;
    --dusk-mauve: #bf838d;
    --daylight-pink: #f1e6e4;
}

body {
    font-family: 'Roboto', sans-serif;
}  

li {
    list-style-type: none;
}

/* Main sections */
.container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 3fr;
    height: 100vh;
}

.side-bar {
    background-color: var(--twilight-purple);
    color: white;
    font-size: 2.5rem;
    grid-area: 1 / 1 / 3 / 2;
}

.header {
    grid-area: 1 / 2 / 2 / 3; 
}

.main-content {
    background-color: var(--daylight-pink);
    grid-area: 2 / 2 / 3 / 3;
}

/* Sidebar */
.side-bar a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.side-bar > div {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 32px;
    margin-right: 32px;
}


.side-bar > ul {
    margin-left: 48px;
}

.side-bar a {
    display: flex;
    align-items: center;
    gap: 40px;
}

/* Header */
.header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.header a {
    color: black;
    font-size: 2rem;
    text-decoration: none;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 64px;
}

.top-header img {
    height: 72px;
    width: 72px;
    border-radius: 100%;
}